*{box-sizing: border-box;}
body{
    background-color: #000000;
    color: #ffffff;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    justify-content: space-between;
    width: auto;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
    padding: 2%;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.imagens{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.pedidos{
    display: flex;
    justify-content: center;
    text-align: center;
}
.container-overlay {
    position: relative;
    width: 50%;
    width: 300px;
}

.banner {
    display: block;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.9); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
  
.container-overlay:hover .overlay {
    opacity: 1;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 950px) {
    .imagens {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width:100%;
        margin: 0 2%;
    }
}